.company-name{
    font-size: 22px;
    font-weight: 500;
    color: beige;
}

.navbar-brand{
    display: flex;
    align-items: center;
}


.custom-toggler-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -4px; /* Adjust this value to align with the company name */
  }
  
  .custom-toggler-bar {
    height: 4px;
    width: 20px;
    background-color: beige; /* Set your desired color here */
    margin: 2px 0;
    transition: 0.4s;
  }

  .open.top-bar {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .open.middle-bar {
    opacity: 0;
  }
  
  .open.bottom-bar {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  